.fh5co-features-outer {
    width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 80px;
}

.fh5co-features-outer .col-sm-6 {
    margin-top: 80px;
}

.fh5co-features-outer .col-sm-6 img {
    height: 650px;
}

.fh5co-features-outer .sm-6-content {
    margin-top: 250px;
    position: relative;
}

.fh5co-features-outer .sm-6-content h1 {
    color: #4F4DB8;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
}

.fh5co-features-outer .sm-6-content p {
    color: #111;
    font-weight: 500;
    font-size: 14.5px;
    line-height: 1.8em;
    width: 450px;
}

.fh5co-features-outer .col-sm-6 .col-sm-image-container {
    position: relative;
    width: 300px;
}

.content {
    padding-left: 100px;
}

.img-float-right {
    float: right;
}

.fh5co-features-outer .col-sm-6 .span-new {
    color: #fff;
    background: #fcec64;
    padding: 18px;
    width: 35px;
    display: inline-block;
    line-height: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    font-size: 14px;
    box-sizing: initial;
    position: absolute;
    font-weight: 700;
    right: -30px;
    top: 130px;
}

.fh5co-features-outer .col-sm-6 .span-free {
    color: #fff;
    background: #6ca3ff;
    padding: 18px;
    width: 35px;
    display: inline-block;
    line-height: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    font-size: 14px;
    box-sizing: initial;
    position: absolute;
    left: -35px;
    bottom: 190px;
    font-weight: 700;
}

.fh5co-features-outer .col-sm-6 .span-data {
    color: #7e8c91;
    background: #b8faee;
    padding: 20px;
    width: 40px;
    display: inline-block;
    line-height: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    font-size: 14px;
    letter-spacing: 1px;
    box-sizing: initial;
    position: absolute;
    top: 120px;
    right: -40px;
    font-weight: 700;
}

.fh5co-features-outer .col-sm-6 .span-percent {
    color: #fff;
    background: #6ca3ff;
    padding: 18px;
    width: 35px;
    display: inline-block;
    line-height: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    font-size: 14px;
    box-sizing: initial;
    position: absolute;
    left: -35px;
    bottom: 100px;
    font-weight: 700;
}

.fh5co-features-outer .col-sm-6 .circle {
    color: #c3cfe5;
    border: 1px solid #ededed;
    background: #fff;
    padding: 10px;
    width: 35px;
    display: inline-block;
    line-height: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    font-size: 14px;
    box-sizing: initial;
    position: absolute;
    font-weight: 600;
    box-shadow: 0 0 0 5px #f9f9f9;
}

.fh5co-features-outer .col-sm-6 .circle-first {
    width: 35px;
    display: inline-block;
    line-height: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    font-size: 14px;
    box-sizing: initial;
    position: absolute;
    margin-left: 0px;
    font-weight: 600;
}

.fh5co-features-outer .col-sm-6 .circle-middle {
    width: 35px;
    display: inline-block;
    line-height: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    font-size: 14px;
    box-sizing: initial;
    position: absolute;
    margin-left: 50px;
    font-weight: 600;
}

.fh5co-features-outer .col-sm-6 .circle-last {
    width: 35px;
    display: inline-block;
    line-height: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    font-size: 14px;
    box-sizing: initial;
    position: absolute;
    margin-left: 100px;
    font-weight: 600;
}

/* ==========================================================================================================
                                       RESPONSIVE STYLING
  ========================================================================================================== */

@media screen and (max-width: 993px) {
    body {
        overflow-x: hidden;
    }
    .fh5co-features-outer {
        margin-top: -100px;
    }
    .fh5co-features-outer .sm-6-content p {
        width: 100%;
    }
}

@media screen and (max-width: 993px) {
    .fh5co-features-grid-columns .col-sm-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 100%;
        width: 100%;
        max-width: 100%;
        margin: 30px auto;
        text-align: center;
    }
    .fh5co-features-outer .col-sm-6 .span-percent, .fh5co-features-outer .col-sm-6 .span-free {
        left: -15px;
        bottom: 140px;
    }
    .fh5co-features-outer .col-sm-6 .col-sm-image-container {
        position: relative;
        width: 295px !important;
        text-align: center;
        margin: 15px auto 0;
    }
    .no-float {
        float: none !important;
    }
    .img-float-right {
        float: none;
    }
    .img-float-left {
        float: none;
    }
    .fh5co-features-outer .col-sm-6 .span-percent, .fh5co-features-outer .col-sm-6 .span-free {
        left: -15px;
        bottom: 140px;
    }
    .fh5co-features-outer .col-sm-6 .span-new {
        right: -10px;
    }
    .fh5co-features-outer .col-sm-6 .span-data {
        right: -15px;
    }
    .fh5co-features-outer .col-sm-6 .circle {
        position: static;
        display: inline-block;
        margin: 25px 5px;
    }
    .fh5co-features-grid-columns {
        display: flex;
        flex-direction: column;
    }
    .fh5co-features-grid-columns .in-order-4 {
        order: 1;
    }
    .fh5co-features-grid-columns .in-order-3 {
        order: 2;
    }
}