.masthead {
    position: relative;
    width: 100%;
    padding-top: 60px;
    text-align: center;
}

.masthead .header-content {
    max-width: 500px;
    text-align: center;
}

.masthead .header-content h1 {
    font-size: 30px;
    color: black;
    font-family: "Montserrat", "sans-serif" !important;
}

.but1 {
    background-color: #4F4DB8 !important;
    border: #4F4DB8 !important;
}

.but1:hover {
    background-color: #F03057 !important;
    border: #F03057 !important;
}

@media (min-width: 992px) {
    .masthead {
        height: auto;
        min-height: 775px;
        padding-top: 0;
        padding-bottom: 0;
    }
    .masthead .header-content {
        margin-bottom: 0;
        text-align: left;
    }
    .masthead .header-content h1 {
        font-size: 50px;
    }
}