@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap");
.page {
    background-color: #fff;
}

.page .headerPage {
    background-color: #fff;
    border-radius: 8px;
    margin: 20px;
    box-shadow: -3px -3px 7px #f1f1f1f6, 2px 2px 5px rgba(86, 92, 86, 0.527);
}

.page .headerPage h1 {
    font-family: 'Montserrat';
    font-size: 1.5rem;
    font-weight: 400;
    color: #090735;
}

.page .bodyPage {
    background-color: #fff;
    border-radius: 8px;
    margin: 20px;
    box-shadow: -3px -3px 7px #f1f1f1f6, 2px 2px 5px rgba(86, 92, 86, 0.527);
}

.page .titleBody {
    border-bottom: 1px solid #F5F6FA;
    display: flex !important;
}

.page .titleBody h1 {
    font-family: 'Montserrat';
    font-size: 1rem;
    font-weight: 600;
    color: #4F4DB8;
}

.page .titleBody #nuevoBus {
    background-color: #5856c9 !important;
    border-color: #5856c9 !important;
    border-radius: 25px;
    font-size: 0.8rem;
}

.page .titleBody #nuevoBus:hover {
    background-color: #4F4DB8 !important;
    border-color: #4F4DB8 !important;
}

.page .body #dropdown-basic {
    background-color: transparent !important;
    border-radius: 20px;
    border-color: #737476 !important;
    color: #7E7F81;
    font-size: 0.8rem;
}

.page .body #dropdown-basic:hover {
    background-color: #737476 !important;
    border-color: #737476 !important;
    color: #fff;
    font-size: 0.8rem;
}

.page .body thead tr {
    background-color: #F5F5F5 !important;
    border-color: #F5F5F5 !important;
}

.page .body thead tr th {
    color: #7E7F81 !important;
    font-size: 1rem;
    font-weight: 500;
}

.page .body tbody tr {
    border-color: #fff !important;
}

.page .body tbody tr td {
    background-color: white !important;
    color: #6C757D !important;
    font-size: 0.8rem;
}


/* Estilos para vista Crear Bus */