#espacio {
    width: 50px;
    height: 122px;
}

#fh5co-reviews-outer {
    width: 100%;
    height: 100%;
    padding: 70px;
    margin-top: 10px;
}

#fh5co-reviews-outer #fh5co-reviews-inner {
    margin-top: 100px;
}

#fh5co-reviews-outer h1 {
    color: #4F4DB8;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
    font-family: "Montserrat", "sans-serif" !important;
}

#fh5co-reviews-outer h2 {
    color: #f03057;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
    font-family: "Montserrat", "sans-serif" !important;
}

#fh5co-reviews-outer #testimonial-desc {
    clear: both;
    padding-top: 30px;
    font-weight: 600;
}